
        
  <h1 class = "bg-success font-weight-bold text-uppercase"style = "text-align: center;">Ecoillumination</h1> 
  <h4 class = "bg-success">Lighting the Way Since 2021</h4> 
      

    <br>
   
 <div class="row">
      <div class="col">
        <div class="jumbotron p-3">
          <h1 class="text-center">Welcome to Ecoillumination's Website!</h1>
          <hr>
          <p> Our Purpose: We firmly believe in two things: conserving the environment and money. We achieve these by finding lightbulbs for you that use the least amount of energy, which not only saves you money, but saves our planet.
          </p>
          <a href="mailto:project.ecoillumination@gmail.com" target="_blank" class="btn btn-success">Email Us</a>

          
        </div>
      </div> 
    </div> 

    <div class="row bg-dark rounded-top">
      <div class="col">
        <h5 class = "text-center text-white"></h2>
      </div>
    </div>

